
.play{
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;


    
}
.reset{
    cursor: pointer;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
}
.play:active{
    transform: scale(1.3)

}
.reset:active{
    transform: scale(1.3)

}
#game-button{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
    
}

.box{
    cursor: pointer;
    font-size: xx-large;
    border-radius: 10px;
    overflow: hidden;

}

.box:active {
    background-color:aquamarine;
    color: aliceblue;
    transform: scale(1.1)
    
  }

